.topInfos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    margin-inline: 50px;
}

.topInfos > img {
    width : 100px;
    height: 100px;
}

.mainInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.animalsInfos {
    display: inline;
}

.animalsInfos img {
    width : 25px;
    height: 25px;
}