.description {
  position: relative;
  top: -4.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto 0;
  padding: 1rem 2rem;
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
}

.description h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.description h5 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.description ul,
.description p {
  margin-bottom: 0.75rem;
}

.description li {
  font-size: 1rem;
}

.likeFavButtons {
  position: relative;
  top: -2.5rem;
  right: 0;
  display: flex;
  align-self: flex-start;
}

.likeButton,
.favButton {
  border-radius: 1.5rem;
  height: 3rem;
  width: 3rem;
  border: 1px solid var(--white);
  background-color: white;
}

.favButton {
  margin-left: 0.25rem;
}

.liked,
.favorite {
  width: 1.75rem;
}

.categoryTitle {
  color: var(--dark-green);
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}

.location {
  align-self: flex-start;
  font-size: 1rem;
  /* font-style: italic; */
}

.description ul {
  list-style: none;
}
