.topDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.coverPicture {
  object-fit: cover;
  height: 5.5rem;
  width: 100%;
  box-shadow: 0 0 5px grey;
}

.topInfos {
  position: relative;
  top: -3.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.profileImg {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 7.5rem;
}

.mainInfos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--dark-green);
}

.mainInfos h3 {
  line-height: 0.7;
}

.totemImg {
  width: 1.8rem;
  margin-right: 0.5rem;
}

.climateImg {
  width: 1.5rem;
}

.liked {
  width: 32px;
  height: 32px;
}

.favorite {
  width: 32px;
  height: 32px;
}
