.coverPicture {
  height: 10rem;
  width: 100%;
  box-shadow: 0 0 5px grey;
}

.topInfos {
  height: 12rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profileImg {
  border: 1px solid var(--dark-green);
  border-radius: 50%;
  width: 6rem;
}

.mainInfos {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: var(--yellow);
}

.totemImg {
  width: 1.8rem;
  margin-right: 0.5rem;
}

.climateImg {
  width: 1.5rem;
}

.liked {
  width: 32px;
  height: 32px;
}

.favorite {
  width: 32px;
  height: 32px;
}
