.calendar {
  position: relative;
  top: -4.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;
  border: 1px solid grey;
  background-color: white;
}
