.userCard {
  position: relative;
  height: 14rem;
  padding: 0.75rem;
  border-radius: 1rem;
  border: 1px solid var(--dark-green);
  background: linear-gradient(145deg, transparent, var(--black));
  box-shadow: 0 0 5px grey;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  overflow: hidden;
}

.userCard::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25%;
  width: 100%;
  background: linear-gradient(180deg, transparent, var(--black));
}

.userCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 10%;
  width: 100%;
  background: linear-gradient(0deg, transparent, var(--black));
}

.userTitle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: var(--yellow);
  font-size: 0.9rem;
  z-index: 1;
}

.likedImg,
.favoriteImg,
.climateImg {
  width: 1.5rem;
}

.featuresContainer {
  position: relative;
  align-self: flex-end;
  z-index: 1;
}
